.show-hide-cross-fade.ng-hide-add,
.show-hide-cross-fade.ng-hide-remove {
  -o-transition: 0s linear all;
  -ms-transition: 0s linear all;
  -moz-transition: 0s linear all;
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
}
.show-hide-cross-fade.ng-hide-add-active,
.show-hide-cross-fade.ng-hide-remove-active {
  -o-transition: 100ms linear all;
  -ms-transition: 100ms linear all;
  -moz-transition: 100ms linear all;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;
}
.show-hide-cross-fade.ng-hide-add,
.show-hide-cross-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1 !important;
}
.show-hide-cross-fade.ng-hide-remove,
.show-hide-cross-fade.ng-hide-add.ng-hide-add-active {
  opacity: 0 !important;
}
.show-hide-slide-vertical.ng-hide-add,
.show-hide-slide-vertical.ng-hide-remove {
  -o-transition: 0s linear all;
  -ms-transition: 0s linear all;
  -moz-transition: 0s linear all;
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
}
.show-hide-slide-vertical.ng-hide-add-active,
.show-hide-slide-vertical.ng-hide-remove-active {
  -o-transition: 100ms linear all;
  -ms-transition: 100ms linear all;
  -moz-transition: 100ms linear all;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;
}
.show-hide-slide-vertical.ng-hide-add,
.show-hide-slide-vertical.ng-hide-remove.ng-hide-remove-active {
  top: 0px !important;
}
.show-hide-slide-vertical.ng-hide-remove,
.show-hide-slide-vertical.ng-hide-add.ng-hide-add-active {
  top: 100px !important;
}
.main.menu {
  text-align: left;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
body {
  min-height: 100%;
}
#app {
  min-height: 100%;
}
#app .pusher {
  padding-top: 4rem;
}
#footer {
  clear: both;
  height: 3rem;
  margin-top: -3rem;
}
.centered.area {
  margin: auto;
}
.centered.area.medium {
  width: 40em;
}
.centered.area.half {
  width: 50%;
}
.centered.area.three.quarters {
  width: 75%;
}
#globalExceptions {
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 40%;
  z-index: 999999;
}
#globalExceptions .exception {
  padding: 1rem;
  margin-top: 1rem;
  background: #000;
  color: #d92626;
  border: 4px solid #f00;
  cursor: pointer;
  text-align: center;
}
#globalExceptions .exception .guru {
  margin-bottom: 0.5em;
}
#globalExceptions .exception .headline {
  font-weight: bold;
}
#globalExceptions .exception .uuid {
  font-size: 1.4em;
  padding: 0.5em;
}
#globalExceptions .exception .cause {
  font-size: 0.8em;
}
#globalExceptions .exception:hover {
  color: #f00;
  border: 4px solid #f00;
}
.general.message {
  padding: 0;
  z-index: 1001;
}
.general.message .message {
  margin: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 100%;
  text-align: center;
  padding-top: 0.6rem;
}
.show.clickable {
  cursor: pointer;
}
.show.clickable:hover {
  box-shadow: 0 0 10px #0568a6;
}
.show.clickable.icon:hover {
  box-shadow: none;
  text-shadow: 0 0 5px #0568a6;
}
.clear-bottom {
  clear: both;
}
a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
a:visited {
  color: inherit;
}
a:hover {
  color: KMP_BLUE;
  text-decoration-style: solid;
}
.delete-button {
  width: 11rem;
  height: 2.2rem;
  position: relative;
  overflow: hidden;
}
.delete-button .state {
  display: inline-block;
  position: absolute;
  right: 0;
}
.delete-button .state.ng-hide-add,
.delete-button .state.ng-hide-remove {
  -o-transition: 0s linear all;
  -ms-transition: 0s linear all;
  -moz-transition: 0s linear all;
  -webkit-transition: 0s linear all;
  transition: 0s linear all;
}
.delete-button .state.ng-hide-add-active,
.delete-button .state.ng-hide-remove-active {
  -o-transition: 100ms linear all;
  -ms-transition: 100ms linear all;
  -moz-transition: 100ms linear all;
  -webkit-transition: 100ms linear all;
  transition: 100ms linear all;
}
.delete-button .state.ng-hide-add,
.delete-button .state.ng-hide-remove.ng-hide-remove-active {
  top: 0px !important;
}
.delete-button .state.ng-hide-remove,
.delete-button .state.ng-hide-add.ng-hide-add-active {
  top: -2.2rem !important;
}
.delete-button .label {
  display: inline-block;
  margin-right: 1rem;
}
.page.middle {
  max-width: 200px;
  Xmargin-left: auto;
  Xmargin-right: auto;
}
.project-list.page .project.item {
  cursor: pointer;
}
.project-list.page .project.item:hover {
  box-shadow: 0 0 10px #0568a6;
}
.project-list.page .project.item.icon:hover {
  box-shadow: none;
  text-shadow: 0 0 5px #0568a6;
}
