/*---  Colors  ---*/
KMP_black            = #1B1C1D;
KMP_blue             = #0568A6;
KMP_green            = #2BD963;
KMP_grey             = #CCCCCC;
KMP_orange           = #FFB624;
KMP_pink             = #FF8169;
KMP_purple           = #B457DD;
KMP_red              = #A60321;
KMP_teal             = #52C0D9;
KMP_yellow           = #F3E52E;

/*---  Light Colors  ---*/
KMP_lightBlack       = #333333;
KMP_lightBlue        = #5BA9D9;
KMP_lightGreen       = #78F2A0;
KMP_lightOrange      = #F2CC80;
KMP_lightPink        = #FFA99A;
KMP_lightPurple      = #E0A0FF;
KMP_lightRed         = #FF695E;
KMP_lightTeal        = #A7E4F2;
KMP_lightYellow      = #FFF474;

/*---   Neutrals  ---*/
KMP_fullBlack        = #000000;
KMP_darkGrey         = #AAAAAA;
KMP_lightGrey        = #DCDDDE;
KMP_offWhite         = #FAFAFA;
KMP_darkWhite        = #F0F0F0;
KMP_white            = #FFFFFF;

// body
//     padding: 0
//     margin: 0
//     width: 100%

// body, input, textarea 
//     font-family "Raleway", "Helvetica Neue", "Helvetica", Arial, sans-serif
//     // Font testing area
//     -webkit-text-stroke: 1px transparent;


.main.menu
    text-align left
    border-radius 0
    position fixed
    top 0
    left 0
    width 100%
    // Mapbox sets it's container to a z-index of 3 - we want our menu to appear above it
    z-index 4

body
    min-height: 100%
    
#app
    min-height: 100%
    
    .pusher
        padding-top: 4rem
        
#footer
    clear both
    height: 3rem
    margin-top: -3rem

.centered.area
    margin auto

    &.medium
        width 40em
    &.half
        width 50%
    
    &.three.quarters
        width 75%

#globalExceptions
    position: fixed
    top: 2rem
    left: 2rem
    width: 40%
    z-index: 999999

    .exception
        padding: 1rem
        margin-top: 1rem
        background: #000000
        color: desaturate(#ff0000, 30%)
        border: 4px solid #ff0000
        cursor: pointer
        text-align: center

        .guru
            margin-bottom: 0.5em

        .headline
            font-weight: bold

        .uuid
            font-size: 1.4em
            padding: 0.5em

        .cause
            font-size: 0.8em


        &:hover
            color: #ff0000
            border: 4px solid #ff0000

.general.message
    padding 0
    z-index 1001
    
    .message
        margin 0
        border-radius 0
        height 100%
        text-align center
        padding-top 0.6rem
        

showClickable()
    cursor: pointer

    &:hover
        box-shadow: 0 0 10px KMP_blue

    &.icon:hover
        box-shadow: none
        text-shadow: 0 0 5px KMP_blue

.show.clickable
    showClickable()



.clear-bottom
    clear: both

// Make regular anchor links look better

a
    color: inherit
    text-decoration-line: underline
    text-decoration-style: dashed

a:visited
    color: inherit

a:hover
    color: KMP_BLUE
    text-decoration-style: solid

///////////////////

 /*--------------
     We use delete buttons for many things in lists so they
     are treated as a mix-in in jade. 
 ---------------*/
 


.delete-button
    
    width: 11rem
    height: 2.2rem
    position: relative
    overflow: hidden
    
    .state
        display: inline-block
        position: absolute
        right: 0
        showHideSlideVertical(-2.2rem)
        
    .label
        display: inline-block
        margin-right: 1rem


.page.middle
    max-width: 200px
    Xmargin-left: auto
    Xmargin-right: auto