.ships.page
    .ship-list.sidebar
        padding: 0
        
        .guts
            padding: 1rem
            background-color: KMP_black
            color: KMP_white
            
            &>.ui.header
                color: KMP_white
        
            .item
            showClickable()
